{% load static %}
<html>

<head>

  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body><form action="adminjoinsession" method="GET">
  <div class="login-box">
    <h1>Admin Menu</h1>
    <input href="/dashboards/controlpanel" type="button" class="btn" value="Committee Control Panel" onclick="window.location.href='/dashboards/controlpanel'">
    <h5>Join Committee: </h5>
    <select name="committee" id="committees">
      {% for c in committees %}
      <option value="{{c}}">{{c}}</option>
      {% endfor %}
    </select>
    <br>
    <i class="fas fa-lock"></i>
    <input type="submit" class="btn" value="Join">
    <input href="changepassword" type="button" class="btn" value="Change Password" onclick="window.location.href='changepassword'">

  </div>






  </form>



</body>
</html>
