
<html>

<head>

  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="style.css">
</head>
<body><form action="adminjoinsession" method="GET">
  <div class="login-box">
    <h1>Join Committee: </h1>
    <select name="committees" id="committees">
      <option value="UNSC">UNSC</option>
      <option value="DISEC">DISEC</option>
      <option value="UNFSC">UNFSC</option>
      <option value="SACC1">SACC1</option>
      <option value="SACC2">SACC2</option>
      <option value="SPECPOL">SPECPOL</option>
      <option value="ICJ">ICJ</option>
    </select>
    <a href="changepassword">Change Password</a>
    <input type="button" class="btn" value="Join">
  </div>
    <br>





  </form>
  <br>


</body>
</html>
