{% load static %}
<html>
<head>
  <div class="login-box">
    
    <h2>Change Password</h2>
  </div>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>

   <script>
      $(document).ready(function(){
          var $submitBtn = $("#form input[type='submit']");
          var $passwordBox = $("#password");
          var $confirmBox = $("#confirm_password");
          var $errorMsg =  $('<span id="error_msg">Passwords do not match.</span>');

          // This is incase the user hits refresh - some browsers will maintain the disabled state of the button.
          $submitBtn.removeAttr("disabled");

          function checkMatchingPasswords(){
              if($confirmBox.val() != "" && $passwordBox.val != ""){
                  if( $confirmBox.val() != $passwordBox.val() ){
                      $submitBtn.attr("disabled", "disabled");
                      $errorMsg.insertAfter($confirmBox);
                  }
              }
          }

          function resetPasswordError(){
              $submitBtn.removeAttr("disabled");
              var $errorCont = $("#error_msg");
              if($errorCont.length > 0){
                  $errorCont.remove();
              }
          }


          $("#confirm_password, #password")
               .on("keydown", function(e){
                  /* only check when the tab or enter keys are pressed
                   * to prevent the method from being called needlessly  */
                  if(e.keyCode == 13 || e.keyCode == 9) {
                      checkMatchingPasswords();
                  }
               })
               .on("blur", function(){
                  // also check when the element looses focus (clicks somewhere else)
                  checkMatchingPasswords();
              })
              .on("focus", function(){
                  // reset the error message when they go to make a change
                  resetPasswordError();
              })

      });
    </script></head>

<body>
  <div class="login-box">
    <form action="setpassword" method="POST">{% csrf_token %}
      <h1>Enter New Password: </h1>
      <input type="password" id="password" name="new_password"/><br/>
      <h1>Confirm New Password: </h1>
      <input type="password" id="confirm_password" name="confirm_password"/><br/>
      <input type="submit" name="submit" class="btn" value="Submit"/ >
    </form>
  </div>

</body>
</html>
