{% load static %}
<html>

<head>

    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<form action="joinsession" method="GET">
    <div class="login-box">
        <h1>Dais Menu</h1>
        <br>
        <i class="fas fa-lock"></i>
        <input type="submit" href="joinsession" class="btn" value="Join">
        <input href="changepassword" type="button" class="btn" value="Change Password"
               onclick="window.location.href='changepassword'">

    </div>


</form>


</body>
</html>
